Download dependencies:

In [1]:
!pip install zipp
!pip install requests
!pip install pandas

Requirement already satisfied: zipp in ./venv/lib/python3.9/site-packages (3.15.0)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Collecting requests
  Using cached requests-2.29.0-py3-none-any.whl (62 kB)
Collecting charset-normalizer<4,>=2
  Using cached charset_normalizer-3.1.0-cp39-cp39-macosx_11_0_arm64.whl (122 kB)
Collecting urllib3<1.27,>=1.21.1
  Using cached urllib3-1.26.15-py2.py3-none-any.whl (140 kB)
Collecting certifi>=2017.4.17
  Using cached certifi-2022.12.7-py3-none-any.whl (155 kB)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.9/site-packages (from requests) (3.4)
Installing collected packages: urllib3, charset-normalizer, certifi, requests
Successfully installed certifi-2022.12.7 charset-normalizer-3.1.0 requests-2.29.0 urllib3-1.26.15

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Collecting pandas
  Using cached pandas-2.0.1-cp39-cp39-macosx_11_0_arm64.whl (10.9 MB)
Collecting numpy>=1.20.3
  Using cached numpy-1.24.3-cp39-cp39-macosx_11_0_arm64.whl (13.9 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.1 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

Import Dependencies:

In [5]:
from zipfile import ZipFile
import requests
import pandas as pd

Download the file:

In [3]:
url = 'https://download-data.deutschebahn.com/static/datasets/wifi/20171212_wifionice.zip'
response = requests.get(url)

with open('20171212_wifionice.zip', 'wb') as f:
    f.write(response.content)

Extract the csv file and read dataset:

In [6]:
with ZipFile('20171212_wifionice.zip', 'r') as zip_file:
    zip_file.extract('surveyor_hackathon_data_20171212.csv')

data = pd.read_csv('surveyor_hackathon_data_20171212.csv', sep=';', low_memory=False)

In [7]:
data

,sid,created,gps_breite,gps_laenge,gps_hoehe,gps_v,sat,gps_richtung,pax_auth,pax_total,tprx,tptx,link_id,link_gw_conn,link_ping
0,40117905,2017-03-08 14:47:26,50.977077,11.070605,208.3,NaN,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,55.0
1,40117905,2017-03-08 14:52:01,50.977077,11.070607,208.3,NaN,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,63.0
2,40117905,2017-03-08 14:52:46,50.977078,11.070612,208.0,NaN,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,41.0
3,40117905,2017-03-08 14:53:01,50.977080,11.070612,207.9,NaN,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,62.0
4,40117905,2017-03-08 14:53:56,50.977080,11.070607,208.0,NaN,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23562071,2502064046,2017-05-01 13:48:45,49.270323,11.210692,398.3,55.9,12.0,NaN,NaN,82.0,NaN,NaN,106.0,t,54.0
23562072,2502064046,2017-05-01 13:49:35,49.295433,11.207790,383.1,56.0,12.0,NaN,NaN,76.0,NaN,NaN,106.0,t,52.0
23562073,2502064046,2017-05-01 13:50:45,49.331827,11.204543,373.9,61.6,12.0,NaN,NaN,73.0,NaN,NaN,106.0,t,77.0
23562074,2502064046,2017-05-01 13:50:50,49.334565,11.204135,376.6,60.7,12.0,NaN,NaN,73.0,NaN,NaN,106.0,t,60.0
23562075,(23562075 Zeilen),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

remove missing locations

In [8]:
data = data.dropna(subset=["gps_breite"])
data = data.dropna(subset=["gps_laenge"])
data

,sid,created,gps_breite,gps_laenge,gps_hoehe,gps_v,sat,gps_richtung,pax_auth,pax_total,tprx,tptx,link_id,link_gw_conn,link_ping
0,40117905,2017-03-08 14:47:26,50.977077,11.070605,208.3,NaN,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,55.0
1,40117905,2017-03-08 14:52:01,50.977077,11.070607,208.3,NaN,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,63.0
2,40117905,2017-03-08 14:52:46,50.977078,11.070612,208.0,NaN,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,41.0
3,40117905,2017-03-08 14:53:01,50.977080,11.070612,207.9,NaN,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,62.0
4,40117905,2017-03-08 14:53:56,50.977080,11.070607,208.0,NaN,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23562070,2502064046,2017-05-01 13:48:40,49.267838,11.211285,398.6,55.9,12.0,NaN,NaN,82.0,NaN,NaN,106.0,t,50.0
23562071,2502064046,2017-05-01 13:48:45,49.270323,11.210692,398.3,55.9,12.0,NaN,NaN,82.0,NaN,NaN,106.0,t,54.0
23562072,2502064046,2017-05-01 13:49:35,49.295433,11.207790,383.1,56.0,12.0,NaN,NaN,76.0,NaN,NaN,106.0,t,52.0
23562073,2502064046,2017-05-01 13:50:45,49.331827,11.204543,373.9,61.6,12.0,NaN,NaN,73.0,NaN,NaN,106.0,t,77.0
23562074,2502064046,2017-05-01 13:50:50,49.334565,11.204135,376.6,60.7,12.0,NaN,NaN,73.0,NaN,NaN,106.0,t,60.0

remove impossible speeds

In [10]:
data = data.drop(data[data["gps_v"] > 310].index)
data = data.dropna(subset=["gps_v"])
data

,sid,created,gps_breite,gps_laenge,gps_hoehe,gps_v,sat,gps_richtung,pax_auth,pax_total,tprx,tptx,link_id,link_gw_conn,link_ping
5,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,41.0
13,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,102.0,t,82.0
21,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,104.0,t,88.0
29,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,105.0,t,54.0
37,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,106.0,t,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23562070,2502064046,2017-05-01 13:48:40,49.267838,11.211285,398.6,55.9,12.0,NaN,NaN,82.0,NaN,NaN,106.0,t,50.0
23562071,2502064046,2017-05-01 13:48:45,49.270323,11.210692,398.3,55.9,12.0,NaN,NaN,82.0,NaN,NaN,106.0,t,54.0
23562072,2502064046,2017-05-01 13:49:35,49.295433,11.207790,383.1,56.0,12.0,NaN,NaN,76.0,NaN,NaN,106.0,t,52.0
23562073,2502064046,2017-05-01 13:50:45,49.331827,11.204543,373.9,61.6,12.0,NaN,NaN,73.0,NaN,NaN,106.0,t,77.0
23562074,2502064046,2017-05-01 13:50:50,49.334565,11.204135,376.6,60.7,12.0,NaN,NaN,73.0,NaN,NaN,106.0,t,60.0

set transfer speed NaN to 0

In [11]:
data['tprx'] = data['tprx'].fillna(value=0)
data['tptx'] = data['tptx'].fillna(value=0)
data

,sid,created,gps_breite,gps_laenge,gps_hoehe,gps_v,sat,gps_richtung,pax_auth,pax_total,tprx,tptx,link_id,link_gw_conn,link_ping
5,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,41.0
13,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,102.0,t,82.0
21,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,104.0,t,88.0
29,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,105.0,t,54.0
37,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,106.0,t,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23562070,2502064046,2017-05-01 13:48:40,49.267838,11.211285,398.6,55.9,12.0,NaN,NaN,82.0,0.0,0.0,106.0,t,50.0
23562071,2502064046,2017-05-01 13:48:45,49.270323,11.210692,398.3,55.9,12.0,NaN,NaN,82.0,0.0,0.0,106.0,t,54.0
23562072,2502064046,2017-05-01 13:49:35,49.295433,11.207790,383.1,56.0,12.0,NaN,NaN,76.0,0.0,0.0,106.0,t,52.0
23562073,2502064046,2017-05-01 13:50:45,49.331827,11.204543,373.9,61.6,12.0,NaN,NaN,73.0,0.0,0.0,106.0,t,77.0
23562074,2502064046,2017-05-01 13:50:50,49.334565,11.204135,376.6,60.7,12.0,NaN,NaN,73.0,0.0,0.0,106.0,t,60.0

pax_auth NaN

In [12]:
data = data.dropna(subset=["pax_auth"])
data

,sid,created,gps_breite,gps_laenge,gps_hoehe,gps_v,sat,gps_richtung,pax_auth,pax_total,tprx,tptx,link_id,link_gw_conn,link_ping
5,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,101.0,t,41.0
13,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,102.0,t,82.0
21,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,104.0,t,88.0
29,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,105.0,t,54.0
37,40117905,2017-03-08 14:54:56,50.977080,11.070600,207.8,0.1,9.0,NaN,3.0,5.0,8.0,8.0,106.0,t,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23461781,2502000845,2017-03-08 12:48:20,50.101272,8.639362,64.0,0.7,9.0,297.0,1.0,8.0,671835.0,17092.0,102.0,t,230.0
23461782,2502000845,2017-03-08 11:32:20,50.101272,8.639362,64.0,0.7,9.0,297.0,1.0,7.0,680864.0,16946.0,101.0,t,44.0
23461783,2502000845,2017-03-08 11:32:20,50.101272,8.639362,64.0,0.7,9.0,297.0,1.0,7.0,680864.0,16946.0,102.0,t,396.0
23461786,2502000845,2017-03-08 14:16:21,50.101128,8.639940,89.5,1.3,10.0,63.9,1.0,8.0,931955.0,28868.0,101.0,t,38.0
23461787,2502000845,2017-03-08 14:16:21,50.101128,8.639940,89.5,1.3,10.0,63.9,1.0,8.0,931955.0,28868.0,102.0,t,1138.0

drop unnecessary columns

In [14]:
data = data.drop(['gps_hoehe', 'sat', 'gps_richtung', 'pax_total', 'link_id', 'link_gw_conn'], axis=1)
data

,sid,created,gps_breite,gps_laenge,gps_v,pax_auth,tprx,tptx,link_ping
5,40117905,2017-03-08 14:54:56,50.977080,11.070600,0.1,3.0,8.0,8.0,41.0
13,40117905,2017-03-08 14:54:56,50.977080,11.070600,0.1,3.0,8.0,8.0,82.0
21,40117905,2017-03-08 14:54:56,50.977080,11.070600,0.1,3.0,8.0,8.0,88.0
29,40117905,2017-03-08 14:54:56,50.977080,11.070600,0.1,3.0,8.0,8.0,54.0
37,40117905,2017-03-08 14:54:56,50.977080,11.070600,0.1,3.0,8.0,8.0,67.0
...,...,...,...,...,...,...,...,...,...
23461781,2502000845,2017-03-08 12:48:20,50.101272,8.639362,0.7,1.0,671835.0,17092.0,230.0
23461782,2502000845,2017-03-08 11:32:20,50.101272,8.639362,0.7,1.0,680864.0,16946.0,44.0
23461783,2502000845,2017-03-08 11:32:20,50.101272,8.639362,0.7,1.0,680864.0,16946.0,396.0
23461786,2502000845,2017-03-08 14:16:21,50.101128,8.639940,1.3,1.0,931955.0,28868.0,38.0
23461787,2502000845,2017-03-08 14:16:21,50.101128,8.639940,1.3,1.0,931955.0,28868.0,1138.0